body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden; 
    background-color: #34495e;
    color: #fff; 
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
    background-color: #2c3e50; 
}

.input-area {
    display: flex;
    margin-bottom: 10px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #456; 
    color: #fff; 
}

button {
    padding: 10px 20px;
    background-color: #e67e22; 
    color: white;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
   
}

input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer; 
}

.task-text {
    flex-grow: 1;
}

.task-buttons {
    display: flex;
}

.task-buttons .eliminar {
    margin-left: 5px;
    background-color: #e74c3c; 
}

.edit-button {
    background-color: #2ecc71; 
}

.summary {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    color: #fff; 
}

/* Estilos para hacerlo responsive */
@media (max-width: 400px) {
    .container {
        width: 90%;
    }

    .input-area {
        flex-direction: column; 
    }

    input[type="text"] {
        margin-bottom: 10px;
    }

    .task-item {
        flex-direction: column; 
        align-items: flex-start;
    }

    .task-buttons {
        margin-top: 10px;
    }
}    
