body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #304633;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    background-color: #0e1c20;
    padding: 40px;
    border-radius: 8px;
    width: 90%;
    max-width: 990px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
  }
  
  .input-area {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #4e5461;
    color: #fff;
  }
  
  button {
    background-color: #aa698d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color: #4e5461;
  }
  
  li span {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .edit-button,
  .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    transition: color 0.5s ease;
  }
  
  button:hover {
    background-color: #09ff00;
  }
  
  .counters {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .counters span {
    color: #f3f4f5;
  }
